#contactcard{
    margin:100px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.page-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    text-shadow: 3px 3px 4px #888;
}

.contactinfo{
    padding:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:0px;
    display: inline-block;
}

.contacticon{
    margin-right: 10px;
}